body {
  display: flex;
  background-color: violet;
  align-items: center;
  justify-content: center;
  margin: 5%;
  background-image: url(cloud.jpg);
  background-repeat: no-repeat;
}

#container {
  background-color: aquamarine;
  background-image: url(cloud.jpg);
  color: black;
  width: 380px;
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  border-radius: 16px;
  border: solid 2px rgb(148, 141, 129);
  backdrop-filter: blur(2px);
  background: transparent;
}
#sun {
  width: 200px;
}
#input {
  width: 200px;
  height: 30px;
  border-radius: 18px;
  text-align: center;
  color: black;
  margin: 2%;
  font-size: 24px;
  font-family: cursive;
}
#submit {
  background-color: transparent;
  border-style: dotted;
  border-radius: 12px;
  font-size: 22px;
  margin: 3%;
}
